In [23]:
import pandas as pd
df=pd.read_csv("SuicideRatesData.csv")

In [24]:
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year,gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [11]:
df.groupby(['country','year'])[['suicides_no']].sum()

                 suicides_no
country    year
Albania    1987           73
           1988           63
           1989           68
           1992           47
           1993           73
...                      ...
Uzbekistan 2010         1464
           2011         1640
           2012         1835
           2013         1950
           2014         2095

[2321 rows x 1 columns]

In [34]:
df['suicide_per_pop'] = df['suicides_no']/df['population']

In [35]:
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year,gdp_per_capita ($),generation,suicide_per_pop
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X,0.000067
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent,0.000052
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X,0.000048
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,0.000046
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers,0.000033
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X,0.000030
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent,0.000026
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z,0.000022
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z,0.000017
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers,0.000015

In [36]:
suiciderate_country_yearwise=df.groupby(['country','year'])[['suicide_per_pop']].sum().reset_index()
suiciderate_country_yearwise

         country  year  suicide_per_pop
0        Albania  1987         0.000319
1        Albania  1988         0.000325
2        Albania  1989         0.000334
3        Albania  1992         0.000180
4        Albania  1993         0.000326
...          ...   ...              ...
2316  Uzbekistan  2010         0.000632
2317  Uzbekistan  2011         0.000671
2318  Uzbekistan  2012         0.000775
2319  Uzbekistan  2013         0.000789
2320  Uzbekistan  2014         0.000851

[2321 rows x 3 columns]

In [46]:
#pd.to_numeric(df.gdp_for_year)
#df.groupby(['country','year'])[['gdp_for_year']].mean()

df["gdp_per_capita ($)"] = df["gdp_per_capita ($)"].apply(pd.to_numeric)

In [52]:
gdp_per_capita_group_by=df.groupby(['country','year'])[['gdp_per_capita ($)']].mean().reset_index()
gdp_per_capita_group_by=gdp_per_capita_group_by.drop(['country', 'year'], axis = 1) 
gdp_per_capita_group_by

      gdp_per_capita ($)
0                    796
1                    769
2                    833
3                    251
4                    437
...                  ...
2316                1533
2317                1767
2318                1964
2319                2150
2320                2309

[2321 rows x 1 columns]

In [53]:
result = pd.concat([suiciderate_country_yearwise, gdp_per_capita_group_by], axis=1)

result

         country  year  suicide_per_pop  gdp_per_capita ($)
0        Albania  1987         0.000319                 796
1        Albania  1988         0.000325                 769
2        Albania  1989         0.000334                 833
3        Albania  1992         0.000180                 251
4        Albania  1993         0.000326                 437
...          ...   ...              ...                 ...
2316  Uzbekistan  2010         0.000632                1533
2317  Uzbekistan  2011         0.000671                1767
2318  Uzbekistan  2012         0.000775                1964
2319  Uzbekistan  2013         0.000789                2150
2320  Uzbekistan  2014         0.000851                2309

[2321 rows x 4 columns]